MyShowsWcfService/WpfClient/Service References/MyShowsServiceReference/MyShowsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyShowsParser" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyShowsParser" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShowModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowModel" nillable="true" type="tns:ShowModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowModel" nillable="true" type="tns:ArrayOfShowModel" />
  <xs:complexType name="ShowModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:CountryModel" />
      <xs:element minOccurs="0" name="Genres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MyShowsRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowModel" nillable="true" type="tns:ShowModel" />
  <xs:complexType name="CountryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shows" nillable="true" type="tns:ArrayOfShowModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryModel" nillable="true" type="tns:CountryModel" />
  <xs:complexType name="ShowInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MyShowsRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowInfo" nillable="true" type="tns:ShowInfo" />
</xs:schema>