MyShowsWcfService/WpfClient/Service References/MyShowsServiceReference/MyShowsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51779/MyShowsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyShowsParser" />
  <xs:element name="GetShowsByCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowsByCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyShowsParser" minOccurs="0" name="GetShowsByCountryResult" nillable="true" type="q1:ArrayOfShowModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyShowsParser" minOccurs="0" name="GetShowByIdResult" nillable="true" type="q2:ShowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowByWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="word" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowByWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyShowsParser" minOccurs="0" name="GetShowByWordResult" nillable="true" type="q3:ShowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>